body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Table */
#output {
    margin-top: 20px;
}

#output table {
    width: 100%;
    border-collapse: collapse;
}

#output table th,
#output table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Button */
.back-button {
    margin-left: 15px;
}
