div.content {
    font-family: Arial;
}

p.content {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    text-align: center;
}

div.info p {
    font-size: 18px;
}

div.info img {
    height: 150px;
    margin-top: 20px;
}

div.border {
    border: 1px solid;
}

.featured-text {
    font-size: 110%;
    font-weight: bold;
}

.userlist li {
    font-size: 18px;
  }

  .margintop30 {
    margin-top: 30px;
  }

  #johnny {
    height: 400px;
  }